@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@font-face {
    font-family: itachi;
    src: url(GODOFWAR.TTF);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
 
body{
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
    color: aliceblue;

} 

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.726)), url("./main.jpg");

  /* Set a specific height */
  height: 100vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

header nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: itachi;
    color: aliceblue;
    letter-spacing: 3px;
}

nav h1{
    letter-spacing: 5px;
    font-size: 4rem;
    margin-top: 5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-top: 2rem;
}

nav ul li a{
    color: currentColor;
    text-decoration: none;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

nav ul li a:hover{
    color: goldenrod;
}

h1{
    font-family: itachi;
    letter-spacing: 5px;
    font-size: 4rem;
}

#story{
    padding: 5% 10%;
    height: 100vh;
}

#story h1, #others h1{
    text-align: center;
}

.story-body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.data p{
    text-indent: 4rem;
    margin: 2rem 0;
    font-size: 1.1rem;
}

#others{
    height: 100vh;
    padding: 3% 10%;
    background-color: aliceblue;
    color: black;
}

h2{
    font-family: itachi;
}

.arena{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 3%;
    text-align: center;
    gap: 1rem;
}

footer{
    padding: 2rem;
    text-align: center;
}

.quote{
    font-size: 1.2rem;
    padding: 1rem;
}
